@model IEnumerable<MVCApp.Models.Employee>
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Employee Id </th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Approve</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ID</td>
            <td>@d.FirstName</td>
            <td>@d.LastName</td>
            <td>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Approve Dropdown</button>
            </td>

        </tr>
    }
</table>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("EditContractChangeForm")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>