<div id="setupContractChangeFormModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@ViewBag.SurveyModalHeader</h4>
            </div>
            <div class="modal-body" style="width:auto;height:500px;overflow-y: scroll" ;overflow-x: scroll>
                <div id="SetupContractChangeForm"> </div>
                <div id="SetupOptOutForm"> </div>
                <div id="dialogContent"></div>
            </div>
            <div class="modal-footer">
                <button onclick="hitSubmit()" type="button" class="btn btn-default" value="Update" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
