@model IEnumerable<MVCApp.ViewModels.ContractChanges>

@{
    Layout = null;
}


    <div><b>Table Format Data Displaying in ForEach</b><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Change Log ID </th>
            <th>New Address </th>
            <th>Approve</th>
            <th>Status </th>
            <th>UpdatedOn</th>
        </tr>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.EmployeeContractChange.ChangeLogID</td>
            <td>@d.EmployeeContractChange.NewAddress</td>
            <td>@d.Status.StatusName</td>
            <td>@d.UpdatedOn</td>

            <td>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Approve Dropdown</button>
            </td>

        </tr>
        }
    </table>

