@model IEnumerable<MVCApp.ViewModels.ContractChanges>
@{
    ViewBag.Title = "ChangeHistory";
    ViewBag.ModalHeader = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewBag.Title</h2>

<!--ADD Another Partial view here for the table, the table that is showing contract changes.-->
<!--1. have table, click on a button to open up -->
<!--Button will be used for each row. When clicked will get the Id of the EmployeeContractChange-->

@Html.Partial("ChangeHistoryTable", Model);

<!--Will need to determine if we can add buton and pass the row selected to modal-->

<!--<button id="History" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeHistoryModal"></button>-->



@Html.Partial("ChangeHistoryModal");


@section Scripts
{
    <script>

        function callModal(contract)
        {
            var eId = contract.EmployeeID;
            var cId = contract.ChangeLogID;
            var showingModal = $('#changeHistoryModal').hasClass('in');
            if (!showingModal)
            {
                $("#contracts").load("@Html.Raw(Url.Action("ChangeHistory", "HR"))", { changeLogID: cId, employeeID: eId });
                $('#changeHistoryModal').modal('show');
            }

        }
    </script>
}