@model MVCApp.DataAccess.EmployeeContractChanges
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome Back @ViewBag.Name</h2>


@{

}

<!--data-toggle="tooltip" data-placement="top" title="Reset your account credentials to previous change?"-->
<button data-toggle="modal" data-placement="top" title="Reset your account credentials to previous change?"
      id="test" type="button" class="btn btn-info btn-lg" onclick="callContractChangeFormModal()">Reset Account</button>

@Html.Partial("CreateContractChangeFormModal");




@section Scripts
{
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        function callContractChangeFormModal() {

            $("#CreateContractChangeForm").load("@Html.Raw(Url.Action("LoadContractChangeForm", "FormUpdates"))");
            $('#createContractChangeFormModal').modal('show');

        }
        
    </script>
}