@model MVCApp.DataAccess.EmployeeContractChanges
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome Back @ViewBag.Name</h2>


@{

}

<!--data-toggle="tooltip" data-placement="top" title="Reset your account credentials to previous change?"-->
<button id="test" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateContractChangeFormModal">Reset Account</button>

@Html.Partial("CreateContractChangeFormModal");




@section Scripts
{
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        function callModal()
        {
            var showingModal = $('#CreateContractChangeFormModal').hasClass('in');
            if (!showingModal)
            {
                $("#CreateContractChangeModal").load("@Html.Raw(Url.Action("CreateEmployeeContractChange", "FormUpdates"))");
                $('#CreateContractChangeFormModal').modal('show');
            }

        }
    </script>
}